// Color variables
$color_normal: #a8a77a;
$color_fire: #ee8130;
$color_water: #6390f0;
$color_electric: #f7d02c;
$color_grass: #7ac74c;
$color_ice: #96d9d6;
$color_fighting: #c22e28;
$color_poison: #a33ea1;
$color_ground: #e2bf65;
$color_flying: #a98ff3;
$color_psychic: #f95587;
$color_bug: #a6b91a;
$color_rock: #b6a136;
$color_ghost: #735797;
$color_dragon: #6f35fc;
$color_dark: #705746;
$color_steel: #b7b7ce;
$color_fairy: #d685ad;

$color_bg: $color_grass;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 1px solid red;
}
body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, white -20%, $color_bg 100%);
    font-size: 16px;
    height: 100vh;
}
