@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Color variables
@import './pokemonColors';

// Responsive design
@import 'Media\ Queries/smallDevices'; // < 768
@import 'Media\ Queries/mediumDevices'; // 768 - 1024px
@import 'Media\ Queries/largeDevices'; // 1024px - 1200px
@import 'Media\ Queries/extraLargeDevices'; // 1200px >

$color_bg: $color_rock; // Test
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 1px solid red;
}
// body {
//     background: rgb(0, 0, 0);
//     background: radial-gradient(circle, white -20%, $color_bg 100%);
//     font-size: 16px;
//     height: 100vh;
// }
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 35em;
}

.text {
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
        font-family: 'Roboto';
        margin-top: 1em;
    }
}
label {
    font-family: 'Roboto';
}

.card {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
}
